# Installs the metrics API and other monitoring services
#
# depends on infra.h.yaml
repositories:
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server/

releases:
  - name: metrics-server
    namespace: kube-system
    chart: metrics-server/metrics-server
    version: ~3.12.0
    values:
      - ./values/metrics-server.yaml
    set:
      - name: podAnnotations.checksum/config
        value: {{ readFile "./values/metrics-server.yaml" | sha256sum }}
