# https://developer.hashicorp.com/consul/tutorials/production-vms/deployment-guide#configure-consul-agents

datacenter = "{{ consul_dc_name }}"
data_dir = "/opt/consul"
encrypt = "{{ consul_gossip_key }}"
domain = "{{ consul_domain }}"
retry_join = ["cs0","cs1","cs2"]

{% if hashicorp_consul_server is defined %}
server = true
bootstrap_expect = 3
{% endif %}

tls {
   defaults {
      ca_file = "/etc/consul.d/certs/consul-agent-ca.pem"
{% if hashicorp_consul_server is defined %}
      cert_file = "/etc/consul.d/certs/{{ consul_dc_name }}-server-{{ consul_domain }}-{{ hashicorp_consul_server_index }}.pem"
      key_file = "/etc/consul.d/certs/{{ consul_dc_name }}-server-{{ consul_domain }}-{{ hashicorp_consul_server_index }}-key.pem"
{% endif %}

      verify_incoming = true
      verify_outgoing = true
   }
   internal_rpc {
      verify_server_hostname = true
   }
}

auto_encrypt {
# This is using the
{% if hashicorp_consul_server is defined %}
  allow_tls = true
{% else %}
  tls = true
{% endif %}
}

acl {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
}

# If we're using flexds do we need any of these?
connect {
  enabled = true
}

addresses {
  grpc = "127.0.0.1"
}

ports {
  grpc     = 8502
  grpc_tls = 8503
}

# https://developer.hashicorp.com/consul/docs/monitor/telemetry/agent?productSlug=consul&tutorialSlug=day-2-operations&tutorialSlug=monitor-datacenter-health&page=agent&page=monitor&page=telemetry
# for telemetry {} stanza

# This is for lab use
ui_config {
  enabled = true
}
