- name: Install k8s vm
  when: k8s_host != "none" # Only run for nodes that are deploye
  block:
    - name: Install packages
      apt:
        name: "{{ item }}"
        state: present
        install_recommends: false
      register: apt_action
      retries: 120
      delay: 1
      until: apt_action is success or ('Failed to lock apt for exclusive operation' not in apt_action.msg and '/var/lib/dpkg/lock' not in apt_action.msg)
      loop:
        - "curl"
        - "dnsutils"

    - name: Setup routing
      ansible.builtin.template:
        src: 99-static-routes.yaml.tmpl
        dest: /etc/netplan/99-static-routes.yaml
        mode: '0600'
      notify: "reload routes"
      vars:
        nodes: "{{ groups['k8snode'] | map('extract', hostvars) | rejectattr('k8s_host','equalto', 'none') }}"
