# First ensure the ca/ and kubeconfig/ ansible repos are setup
# and make sure the mgr machine has tools (kubectl/helm/helmfile etc)
- name: K8S ansible manager main task
  ansible.builtin.include_tasks: k8s_ansible.yml
  when:
    inventory_hostname == 'localhost'

# Ensure the host has the logical volumes prepared
# We don't declare and setup the VMs in ansible (yet?)
#
- name: K8S Host ansible main task
  ansible.builtin.include_tasks: k8s_host.yml
  when:
    k8s_host is defined and k8s_host == true

- name: K8S VM setup ansible main task
  ansible.builtin.include_tasks: k8s_node_vm.yml
  when:
    k8s_node is defined and k8s_node == true

- name: K8S Plane role main task
  ansible.builtin.include_tasks: k8s_plane.yml
  when:
    k8s_plane is defined and k8s_plane == true

- name: K8S Node role main task
  ansible.builtin.include_tasks: k8s_node.yml
  when:
    k8s_node is defined and k8s_node == true


# configs/
# files/       binaries from downloads
# ca/          all ssl/crt inc working ca.conf. Generated by ansible
# kubeconfigs/ all kubeconfigs. Generated
